li {
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 20px;
  background-color: white;
  transition: all .2s ease-in-out;
}
li:hover {
  transform: scale(1.1);
}
input {
  margin-left: 50px;
  padding: 10px;
  border-radius: 10px;
}
ul {
  list-style: none;
}
img.listimg {
  float: right;
}
img.detailview {
  float: right;
  border-radius: 20px;
}
img.GeneratedImage, img.portrait {
  width:100px;
  height:70px;
  margin:10px;
  border-width:3px;
  border-color:#000000;
  border-style:solid;
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
div.detail-container {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 3px solid darkgrey;
  border-radius: 20px;
  background-color: beige;
}