<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>HR36 Social Directory</title>
  <style>
    li {
      width: 300px;
      border: 1px solid black;
      padding-left: 20px;
    }
  </style>

</head>
<body>
  <input type="text" ng-model="name">
  <h2>Hello, {{name}}</h2>

  <div class="list-container" ng-controller="ListController">
    {{people}}

    <ul class="main-list">
      <li class="list-item" ng-repeat="student in people">
        <p>{{student.name}}</p>
        <p>{{student.location}}</p>
        <p>{{student.info}}</p>
      </li>
    </ul>
  </div>


  





  <!-- libraries -->
  <script src="node_modules/angular/angular.min.js"></script>

  <!-- app files -->
  <script src="js/app.js"></script>
  <script src="js/controllers/listController.js"></script>

</body>
</html>