li {
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 20px;
  background-color: beige;
  transition: all .2s ease-in-out;
}
li:hover {
  transform: scale(1.1);
}
input {
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 7px;
  border-radius: 10px;
  font-size: 1.2em;
  text-align: center;
}
ul {
  list-style: none;
}
img.listimg {
  float: right;
}
img.detailview {
  float: right;
  border-radius: 20px;
}
img.GeneratedImage, img.portrait {
  width:100px;
  height:70px;
  margin:10px;
  border-width:3px;
  border-color:#000000;
  border-style:solid;
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
div.detail-container {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 3px solid darkgrey;
  border-radius: 20px;
  background-color: beige;
}
.container {
  width: 400px;
  margin: 0 auto;
}
.container > h1 {
  text-align: center;
}
label {
  font-size: 20px;
}
.login-button, .logout-button {
  width: 70px;
  margin-left: 13px;
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
  color: white;
}
.login-button {
  background-color: #3EA625; 
}
.logout-button {  
  background-color: #B75B5B;
}
.friend-button, .return-button {
  width: 70px;
  margin-left: 13px;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #3EA625; 
  color: white;
}
.friend-button {
  float: right;
}
.comment-button {
  display: block;
  width: 80px;
  height: 50px;
  margin: 0 auto 10px;
  border-radius: 5px;
  background-color: #25A6A6;
  color: white;
  font-size: 15px;
}
div.comments {
  width: 600px;
  margin: 20px auto;
}
textarea {
  border-radius: 20px;
  font-size: 1.2em;
  padding: 20px;
}
.comments > label,textarea {
  margin-left: 180px;
}
.comments > label {
  padding: 30px;
}
.comment-ul {
  margin: 0 auto;
}
.comment-li {
  margin: 0 auto 0 100px;
}