  <div class="list-container">
    <!-- filter list -->
    <input type="text" ng-model="filter" placeholder="filter student list">
    <ul class="main-list">
      <li class="list-item fade" ng-repeat="student in students | filter:filter">
        <a href="/#person/{{ students.indexOf(student) }}">
        <img class="portrait listimg" ng-src="/images/{{student.img_name}}.jpg" alt="portrait of {{student.name}}">
        <h2>{{student.name}}</h2>
        <h4>{{student.location}}</h4>
        </a>
      </li>
    </ul>
  </div>
