  

  <div class="container">
    <h1>Find Your Classmates</h1>

    <!-- login -->
    <input ng-show="user == null" type="text" class="login" placeholder="username" ng-model="username" />
    <button ng-show="user == null" ng-click="login()">Login</button><br>

    <!-- filter list -->
    <input ng-show="user != null" type="text" class="filter-input" ng-model="filter.name" placeholder="filter student list">
    <button ng-show="user != null" ng-click="logout()" >Logout</button><br>

    <ul class="main-list">
      <li class="list-item fade" ng-repeat="student in students | filter:filter">
        <a ng-href="/#person/{{ students.indexOf(student) }}">
        <img class="portrait listimg" ng-src="/images/{{student.img_name}}.jpg" alt="portrait of {{student.name}}">
        <h2>{{student.name}}</h2>
        <h4>{{student.location}}</h4>
        </a>
      </li>
    </ul>
  </div>
