  

  <div class="container">
    <h1>Find Your Classmates</h1>

    <!-- login -->
    <form ng-show="user == null">
      <label for="login-input">Login:</label>
      <input id="login-input" type="text" class="login" placeholder="username" ng-model="username" />
      <button class="login-button" ng-click="login()">Login</button><br>
    </form>

    <!-- filter list -->
    <form ng-show="user != null">
      <label for="filter-input">Filter:</label>
      <input id="filter-input" type="text" class="filter-input" ng-model="filter.name" placeholder="filter student list">
      <button class="logout-button" ng-click="logout()" >Logout</button><br>
      <label for="friendsFilter">Friends:</label>
      <input type="checkbox" id="friendsFilter">
      <label style="margin-left:15px"for="reverseFilter">Reverse:</label>
      <input ng-model="direction" type="checkbox" id="reverseFilter" ng-click="reverse()">
    </form>

    <ul class="main-list">
      <li class="list-item" ng-repeat="student in students | filter:filter">
        <a ng-href="/#person/{{ students.indexOf(student) }}">
          <img class="portrait listimg" ng-src="/images/{{student.img_name}}.jpg" alt="portrait of {{student.name}}">
          <h2>{{student.name}}</h2>
          <h4>{{student.location}}</h4>
        </a>
      </li>
    </ul>
  </div>


<!-- using redirect function instead -->
<!-- 
      <li class="list-item" ng-repeat="student in students | filter:filter" ng-click="redirect(students.indexOf(student))">
 -->