
<div class="detail-container">
  <img class="detailview" ng-src="/images/{{student.img_name}}.jpg" alt="portrait of {{student.name}}">
  <h1>{{student.name}}</h1>
  <h3>{{student.location}}</h3>
  <p>{{student.info}}</p>
  <button ng-show="!isFriend()" class="friend-button" ng-click="addFriend()">Add Friend</button>
  <!-- <button ng-show="isFriend()" class="unfriend-button" ng-click="removeFriend()">Remove Friend</button> -->

  <a href="/#list"><button class="return-button">Return</button></a>
</div>

<div class="comments">
  
  <label for="enter-comment">Leave {{student.name.split(' ')[0]}} a message!</label><br>
  <textarea id="enter-comment" cols="20" rows="3" placeholder="enter message here" ng-model="comment"></textarea>
  <button class="comment-button" ng-click="postMessage()">Post Message</button>

  <div class="messages">
    <ul class="comment-ul">
      <li class="comment-li" ng-repeat="comment in comments | filter: { pageId: studentId }">
        <p><span><strong>{{comment.commentingUser}}:</strong></span> {{comment.text}}</p>
      </li>
    </ul>
  </div>

</div>

<!-- TODO -->
<!-- Add a section to add comments: -->